
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.popup {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1977F2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
